# Diazo rules (xml) snippets for snipMate.
# Created by zedr @ 2011-03-10 23:55:56.847948

# comment
snippet <! <!-- -->
	<!-- ${1:Comment} -->

snippet <ruleset Ruleset-container
	<rules 
		xmlns="http://namespaces.plone.org/diazo"
		xmlns:css="http://namespaces.plone.org/diazo/css" 
		xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
		>



	</rules>

snippet <notheme <notheme>
	<notheme if-path="">
